.page[b-qa07xso3yc] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.video-background[b-qa07xso3yc] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

main[b-qa07xso3yc] {
    flex: 1;
}

.sidebar[b-qa07xso3yc] {
    color: transparent;
}

.top-row[b-qa07xso3yc] {
    background: transparent;  
    backdrop-filter: none;     
    -webkit-backdrop-filter: none;

    border-bottom: none;      

    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;

    padding-right: 1rem;
}


.top-row[b-qa07xso3yc]  a,
.top-row[b-qa07xso3yc]  .btn-link {
    color: rgba(255, 165, 0, 0.95);

    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;

    background: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    padding: 6px 12px;
    border-radius: 10px;

    border: 1px solid rgba(255, 140, 0, 0.25);

    transition: all 0.3s ease;
}


.top-row[b-qa07xso3yc]  a:hover,
.top-row[b-qa07xso3yc]  .btn-link:hover {
    color: #ffffff;

    background: rgba(255, 140, 0, 0.35);
    border: 1px solid rgba(255, 140, 0, 0.6);

    box-shadow: 0 0 12px rgba(255, 140, 0, 0.6);

    text-decoration: none;
    transform: translateY(-2px);
}


.top-row[b-qa07xso3yc]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (max-width: 640.98px) {
    .top-row[b-qa07xso3yc] {
        justify-content: space-between;
    }

    .top-row[b-qa07xso3yc]  a,
    .top-row[b-qa07xso3yc]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qa07xso3yc] {
        flex-direction: row;
    }

    .sidebar[b-qa07xso3yc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qa07xso3yc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qa07xso3yc]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qa07xso3yc],
    article[b-qa07xso3yc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}


#blazor-error-ui[b-qa07xso3yc] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss[b-qa07xso3yc] {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}