@page "/hobbies"

<PageTitle>Hobbies</PageTitle>

<div class="resume-container">

    <div class="section">
        <h2>Hobbies</h2>
        <ul>
            <li>@Hobby1</li>
            <li>@Hobby2</li>
            <li>@Hobby3</li>
            <li>@Hobby4</li>
        </ul>
    </div>

</div>

@code {
string Hobby1 = "Cycling";
string Hobby2 = "Skimboarding";
string Hobby3 = "Surfing";
string Hobby4 = "Badminton";
}