@page "/"
@page "/profile"

<PageTitle>Profile</PageTitle>
<link rel="stylesheet" href="profile.styles.css" />

<div class="resume-container">

  <div class="header">
    <img src="profile.jpg" class="profile-img" />
    <div class="header-overlay">
        <h1>@Name</h1>
        <p>@Course Student</p>
    </div>
</div>

    <div class="section">
        <h2>Profile</h2>
        <p>@Bio</p>
    </div>

</div>

@code {
string Name = "Jezzar Lexus L. Taneo";
string Course = "BSIT-2A";
string Bio = "Kaizen means continuous improvement. Memento mori, memento vivere.";
}